.card-custom {
    border: none;
    border-radius: 15px;
    transition: transform 0.2s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px; /* Tamaño fijo */
    height: 400px; /* Ajusta según lo que necesites */
  }
  
  .card-img-custom {
    border-radius: 15px 15px 0 0;
    height: 200px; /* Altura de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen */
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50; /* Color oscuro */
  }
  
  .card-text {
    color: #34495e; /* Color más claro para el texto */
  }
  