.containerCarrusel {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 50hv; /* Ajusta según lo necesites */
  margin: auto;
  margin-top: 2rem;
}

.containerCarrusel .carousel-item {
  transition: transform 1s ease, opacity 1s ease;
  height: 100%;
}

.containerCarrusel img {

  object-fit: contain; /* Mantiene el recorte */
}

.containerCarrusel .carousel-item {
  opacity: 0;
}

.containerCarrusel .carousel-item.active {
  opacity: 1;
}
