#carrusel-principal {
  height: 500px; /* Cambia este valor según sea necesario */

  margin-top: 4rem;
  margin-bottom: 12rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#carrusel-principal img {
  height: 100%; /* Asegura que la imagen ocupe toda la altura */
  object-fit: cover;
  margin-bottom: 1.5rem;
}


#textoCarrusel{
color: rgb(98, 224, 214);
background-color: rgba(137, 43, 226, 0.349);
width: 100%;

}