#card-descuentos {
  margin: 15rem; 
}

.card-item {
  width: 18rem; 
  margin: 1rem; 
  transition: transform 0.2s, box-shadow 0.2s; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

#descuentoPrecio{
  font-weight: 700;
  color: #9A27AA;
}

.card-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.card-item img {
  width: 100%; 
  height: 200px; 
  transition: transform 0.3s; 
}

.card-item:hover img {
  transform: scale(1.1);
}

.card-title {
  font-weight: bold; 
  color: rgb(50, 50, 50); 
}

.card-text {
  color: rgb(100, 100, 100);
}

.btn-primary {
  background-color: rgb(98, 224, 214); 
  border: none; 
}

.btn-primary:hover {
  background-color: rgb(70, 200, 200); 
}

/* Media Queries */
@media (max-width: 768px) {
  .card-item {
    width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
    margin: 1rem auto; /* Centra las cards */
  }
}

@media (max-width: 576px) {
  .card-item {
    width: 80%; /* Las cards ocupan todo el ancho en pantallas pequeñas */
  }

  .card-item img {
    height: 150px; /* Ajusta la altura de las imágenes */
  }
}
