
.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten si hay más de una fila */
    gap: 1rem; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

.custom-card {
    width: 18rem; 
    height: 25rem; 
}

.custom-card-img {
    height: 14rem; 
    object-fit: cover; 
   
}

.custom-btn {
    margin: 0.5rem; /* Espacio entre los botones */
  
}

.btn-danger.custom-btn {
    background-color: #da15a8; /* Cambia el color de fondo del botón "Eliminar" */
    border: none; /* Elimina el borde */
}

.btn-primary.custom-btn {
    background-color: #007bff; /* Cambia el color de fondo del botón "Editar" */
    border: none; /* Elimina el borde */
}
