.footer {
  background-image: url("../IMG/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(145, 29, 180);
  text-align: center;
  padding: 20px;
  position: relative; 
  height: 12rem;
  margin-top: 4rem;
} 

.footer::before {
  content: "";
  position: absolute;
  top: -10px; 
  left: 0;
  right: 0;
  height: 10px; 
  background: #FFB6A0; 
  z-index: -1; 
}
  
.social-icons {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
  
.social-icons a {
  margin: 0 10px;
}
  
.social-icons img {
  width: 2.5rem; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  transition: transform 0.2s;
}
  
.social-icons img:hover {
  transform: scale(1.1); /* Efecto al pasar el mouse */
}
  
.footer-message {
  margin-top: 2rem;
  font-size: 22px;
  margin: 10px 0;
  font-weight: 600;
}
  
#LogoFooter {
  position: absolute; 
  right: 20px; 
  bottom: 10px;
  height: 11rem; 
  margin-top: 12px;
}


@media (max-width: 768px) {
  .footer {
    height: auto; 
    padding: 15px;
  
  }

  .footer-message {
    font-size: 20px; 
  }

  #LogoFooter {
  display: none;
  }
}

@media (max-width: 576px) {
  .footer-message {
    font-size: 18px; 
    margin-top: 1rem; 
  }

  .social-icons img {
    width: 2rem; 
  }

  #LogoFooter {
    height: 6rem; 
    bottom: 5px; 
  }
}













