
form {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #E94F88; 
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}


label {
    display: block; 
    margin-bottom: 8px;
    font-weight: bold; 
    color: #E94F88; 
}

/* Estilos para los campos de entrada */
#nombre,
#descripcion,
#tags,
#precio {
    width: 100%; 
    padding: 12px; 
    margin-bottom: 15px; 
    border: 1px solid #E196EC; 
    border-radius: 5px; 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

#nombre:focus,
#descripcion:focus,
#tags:focus,
#precio:focus {
    border-color: #E94F88; 
    box-shadow: 0 0 5px rgba(233, 79, 136, 0.5); 
}

/* Estilo para el botón */
#agregarProducto {
    background-color: #E94F88;
    color: white; 
    border: none; 
    padding: 12px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

#agregarProducto:hover {
    background-color: #E196EC; 
    transform: translateY(-2px); 
}

#imagen {
    padding: 12px; 
    border: 1px solid #E196EC;
    border-radius: 5px; 
    transition: border-color 0.3s;
}

#imagen:focus {
    border-color: #E94F88; 
}
