*{
    margin: 0;
    padding: 0;
} 

  
  .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #e94f88,#e94f88,#f3a188);
    
  }
  
  .logoHeader img {
    height: 11rem; 
    margin: 0px;
    margin-left: 1rem;
    padding-bottom: 0.8rem;
  }


 