*{
    margin: 0;
    padding: 0;
} 


/* 
#Logo{
  height: 1rem;
}
 
  header {
    background-color: #F172A1; 
  
    color: #FFFFFF; 
    text-align: center;
    height: 9rem;
    width: 100vw;
  }
  
 header h1 {
    font-size: 1.2rem;
    font-family: cursive;
    padding-top: 0.3rem;
    width: 100vw;
    background-color: #a95071;
  } */


  
  .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(90deg, #e94f88,#e94f88,#f3a188);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #e94f88,#e94f88,#f3a188);
    padding: 1rem;
  }
  
  .logoHeader img {
    height: 50px; /* Ajusta el tamaño según necesites */
  }
  
  .navHeader {
    background-color: #FF6437 ;
  }
  
  /* Si quieres un efecto secundario en el hover */
  .containerHeader:hover {
    background-color: #F89CBE;
  }
  


