*{
    margin: 0;
    padding: 0;
} 



  
  .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: -webkit-linear-gradient(90deg, #e94f88,#e94f88,#f3a188);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #e94f88,#e94f88,#f3a188);
    padding: 1rem;
  }
  
  .logoHeader img {
    height: 8rem; /* Ajusta el tamaño según necesites */
    margin: 0px;
  }
  
  .navHeader {
    background-color: #FF6437 ;
  }
  
  /* Si quieres un efecto secundario en el hover */
  .containerHeader:hover {
    background-color: #F89CBE;
  }
  
  #Busqueda{
    border: '2px solid #FDCEDF';
    border-radius: '20px';
    background-color: 'transparent';
    color: '#FDCEDF';
    padding: '10px';
    outline: 'none';
    width: '200px';
}

