.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #109db6, #0d9196, #3684dd, #5bcce0);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #057a61, #16adb3, #098a8f,  #057a61);
  }

  #mensajeAlert{
    color: red;
    font-size: 1rem;
    background-color: rgb(157, 219, 230);
    font-weight: 400;
    width: 55%;
    padding-left: 0.5rem;
    margin-left: 8rem;
  }


  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }