#fondo12{
  background-image: url("../IMG/fondoLogin3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  backdrop-filter: blur(10px);

}


#logoLogin {
  height: 25rem; /* Tamaño ajustado */
  width: 25rem; /* Tamaño ajustado */
}

#mensajeAlert {
  color: red;
  font-size: 1rem;
  font-weight: 700;
  width: 55%;
  padding-left: 0.5rem;
  margin-left: 8rem;
}

#TextoLogin {
  color: #E94F88;
  text-align: center; /* Centrado */
  width: 100%; /* Asegura que ocupe todo el ancho */
}

.d-flex.flex-column.justify-content-center.gradient-custom-2 {
  height: auto; /* Permite que el contenedor crezca según el contenido */
}








  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }