.navbar{
  margin: 0px;
  padding: 0px;
  background-color: #ff6437;
}

.bg-body-tertiary {
    background-color: #ff6437;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
  }
  
  #back_color{
    background-color: #ff6437;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-around; 
    width: 100%; 
  }
  
  .navbar-nav .nav-link {
    margin: 0 10px; /* Margin entre los titulos*/
  }
  
  .navbar-nav .nav-dropdown {
    margin: 0 20px; 
  }
  
  .navbar-brand {
    margin-right: auto; 
  }
  