.containerQuote {
    background-color: #FDCEDF; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 2px 70px rgba(0, 0, 0, 0.1); 
}

#CotizacionText {
    text-align: center;
    color: #9A27AA; 
}

section {
    margin-bottom: 20px; 
}

#idlabelQuote {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%; 
    padding: 10px;
    border: 2px solid #6c757d; 
    border-radius: 5px; 
    margin-top: 5px;
}

#btnQuote {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #da21a2; /* Color verde */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 5px;
    font-size: 1.2rem; /* Tamaño del texto */
    cursor: pointer; /* Cursor tipo puntero */
    transition: background-color 0.3s; /* Transición de fondo */
}

button:hover {
    background-color: #d445c1; /* Color más oscuro al pasar el mouse */
}
