

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}

.my-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  background-image: url("../IMG/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  backdrop-filter: blur(10px);


}

